   name: python-app

   on:
     push:
       branches: [ main ]
     pull_request:
       branches: [ main ]

   jobs:
    build:
      runs-on: ubuntu-latest
      steps:
      - name: checkout repo
        uses: actions/checkout@v3
      - name: build application
        env:
          TOKEN: ${{ secrets.TOKEN }}      
        run: |
         pwd
         ls
         kubectl apply -f package/crds/
         kubectl apply -f myProviderConfig.yaml
